@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasKai-Regular.otf);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ddd;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Menu lateral */

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #fff;
    font-size: 14pt;
    text-transform: uppercase;
    font-family: Calibri;
    font-weight: bold;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}

/*.nav-sidebar .active a { 
    cursor: default;
    background-color: #02884d; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}*/

.nav-sidebar li a:hover {
    background-color: #02884d;
    transition: 0.7s;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */

.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}

#menu-superior{
    background-color: black;
    border-bottom: 0px;
}

#logo{
    height: 30px;
    margin-top: -3px;
}

#menu-lateral{
    background-color: black;
}

.centered {
   text-align: center;
   font-size: 0;
}

.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

/* Login */

h2{
    color: #02884d;
    font-size: 55pt;
    font-family: Bebas;
    text-align: center;
    margin-top: 37px;
}

label.control-label{
    color: #02884d;
    font-size: 19pt;
    font-family: Bebas;
}

input.form-control{
    height: 40px;
    width: 300px;
    margin-left: 10px;
}

.button-entrar{
    background-color: #02884d;
    height: 52px;
    width: 170px;
    font-size: 23pt;
    font-family: Bebas;
    margin-left: 10px;
    color: white;
}

.remember-me{
    color: #02884d;
    font-size: 13pt;
    font-family: Bebas;
    margin-left: 5px;
}

.cadastre-se{
    margin-left: 110px;
}

/* Registrar */

h4{
    text-align: center;
}

input.form-control.segundo{
    margin-left: 21px;
}

select.form-control.segundo{
    margin-left: 21px;
    height: 40px;
}

label.control-label.segundo{
    font-size: 17.5pt;
}

.button-entrar.segundo{
    margin-left: 53px;
}

/* Post */

.name-post{
    font-weight: bold;
}

.marcosAdriano{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.marcosAdriano1{
    float: left;
}

.marcosAdriano2{
    float: right;
}