@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_NonLoggedLayout.cshtml";
    ViewData["Title"] = "Registrar";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Criar nova conta de usuário.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nome" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <input asp-for="Nome" class="form-control segundo" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Matricula" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <input asp-for="Matricula" class="form-control segundo" />
            <span asp-validation-for="Matricula" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control segundo" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control segundo" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control segundo" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Curso" class="col-md-2 control-label segundo"></label>
        <div class="col-md-10">
            <select asp-for="Curso" asp-items="ViewBag.Cursos" class="form-control segundo"></select>
            <span asp-validation-for="Curso" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success button-entrar segundo" style="font-size:23pt;">Registrar</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
