@model IFBOOK.Models.Professor

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir esse Registro?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-success" /> |
            <a asp-action="Index" class="ifbook-button">Voltar para a Lista</a>
        </div>
    </form>
</div>
