@model IFBOOK.Models.ProfessorDisciplina

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Realmente deseja excluir isso?</h3>
<div>
    <h4>Professores e Disciplinas</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-success" />
            <a asp-action="Index" class="ifbook-button">voltar para Lista</a>
        </div>
    </form>
</div>
