@model IEnumerable<IFBOOK.Models.Pergunta>

@{
    ViewData["Title"] = "CalourASK";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Nova Pergunta</a>
</p>
@foreach (var item in Model) {
        <div class="marcosAdriano">
            <span>
                @Html.DisplayFor(modelItem => item.Descricao)
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </span>
            <hr />
            <div>
                @if (!item.Status)
                {
                    <form asp-action="" asp-controller="Avaliacao" asp-route-id="@item.ID">
                        <input type="text" name="Descricao"/>
                    </form>

                }
                else{ 
                @Html.DisplayFor(modelItem => item.Resposta.Descricao)
                }
            </div>
        </div>
}