@model IEnumerable<IFBOOK.Models.Disciplina>

@{
    ViewData["Title"] = "Disciplinas";
}

<h2>Disciplinas</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <a asp-action="Details" class="ifbook-button" style="float:left; margin:2px;font-size:2em;" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
    }
</div>