@model IFBOOK.Models.Publicacao

@{
    ViewData["Title"] = "Deletar";
}

<h2>Deletar</h2>

<h3>Você tem certeza que quer deletar isto?</h3>
<div>
    <h4>Publicacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-success" /> |
            <a asp-action="Index" class="ifbook-button">Voltar para o feed</a>
        </div>
    </form>
</div>
