@model IEnumerable<IFBOOK.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}
      <h2>Cursos</h2>


            <p>
                <a asp-action="Create" class="ifbook-button">Criar novo</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="glyphicon glyphicon-edit"></a> |
                                <a asp-action="Delete" asp-route-id="@item.ID" class="glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
