@{
    ViewData["Title"] = "Equipe";
}
<link rel="stylesheet" href="~/css/site.css" />
<h2>Equipe</h2>
<h1 style="font-family:Bebas" class="ifbook-green">Administradores</h1>
<div id="adms" class="col-md-12 col-md-offset-1 ifbook-green">
    <figure>
        <img src="~/images/carla.jpg" id="carla" alt="carla" class="foto-adm" height="160px" width="160px">
        <figcaption>Carla Maryele</figcaption>
    </figure>

    <figure>
        <img src="~/images/jules.jpg" id="jules" alt="jules" class="foto-adm" height="160px" width="160px">
        <figcaption>Jules Brendo</figcaption>
    </figure>
    <figure>
        <img src="~/images/marcos.jpg" id="marcos" alt="marcos" class="foto-adm" height="160px" width="160px">
        <figcaption>Marcos Adriano</figcaption>
    </figure>

    <figure>
        <img src="~/images/paulo.jpg" id="paulo" alt="paulo" class="foto-adm" height="160px" width="160px">
        <figcaption>Paulo Victor</figcaption>
    </figure>

    <figure>
        <img src="~/images/tuane.jpg" id="tuane" alt="tuane" class="foto-adm" height="160px" width="160px">
        <figcaption>Tuane Peres</figcaption>
    </figure>
    <figure>
        <img src="~/images/vinicius.jpg" id="vinicius" alt="vinicius" class="foto-adm" height="160px" width="160px">
        <figcaption>Vinicius Malafaya</figcaption>
    </figure>
</div>